<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">

<h1>Server</h1>
<h3>SocketID: <%=socketID%> </h3>

<div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Material Type</span>
    </div>
    <input type="text" name= "MATYP"  class="form-control-4" id="basic-url" value=<%=responseFromPi.matyp%>>
  </div>

<div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Industry</span>
    </div>
    <input type="text" name= "MBRSH"  class="form-control-4" id="basic-url" value=<%=responseFromPi.mbrsh%>>
  </div>

<div class="input-group mb-6">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Description</span>
    </div>
    <input type="text" name= "MATKX" class="form-control-4" id="basic-url" value=<%=responseFromPi.matkx%>>
  </div>
<br>
<div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Base Unit</span>
    </div>
    <input type="text" name= "MEINS"  class="form-control-4" id="basic-url" value=<%=responseFromPi.meins%>>
  </div>

<div class="input-group mb-4">
  <div class="input-group-prepend">
    <span class="input-group-text  label-width" id="basic-addon3">Material Group</span>
  </div>
  <input type="text" name= "MATKL" class="form-control-4" id="basic-url" value=<%=responseFromPi.matkl%>>
</div>





</body>

